@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* custom colors */
  --color-orange: hsl(13, 74%, 56%);
  --color-dark-gray: hsl(0, 0%, 8%);
  --color-gray: hsl(0, 0%, 11%);
  --color-light-gray: hsl(0, 0%, 12%);
  --color-mute: hsl(0, 1%, 49%);

  /* custom breakpoint */
  --breakpoint-xs: 450px;

  /* custom fonts */
  --font-inter: "Inter", sans-serif;
}

@layer components {
  .custom-gradient {
    @apply bg-linear-to-r from-orange-300 via-amber-400 to-orange-600 bg-clip-text text-transparent;
  }

  .mentor_section {
    @apply flex justify-center items-center;
  }

  .content_chips {
    @apply bg-orange rounded-full px-4 py-1 cursor-default hover:translate-y-0.75 transition;
  }

  .container_card {
    @apply text-center space-y-5 border-2 border-orange rounded-xl p-3 transition hover:scale-[1.02];
  }
}

@layer base {
  body {
    @apply bg-black text-white font-inter;
  }
}
